{
  "swagger": "2.0",
  "info": {
    "description": "Lets you create, inspect, and manage goo.gl short URLs",
    "version": "v1",
    "title": "URL Shortener API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "www.googleapis.com",
  "basePath": "/urlshortener/v1",
  "tags": [
    {
      "name": "url",
      "description": "Everything related urls",
      "x-api-key-value":"AIzaSyA3cRhjMcf_KG0DAMpek9kUJIyBD5g3nyc"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/url": {
      "get": {
        "tags": [
          "url"
        ],
        "summary": "Add a new pet to the store",
        "description": "",
        "operationId": "urlshortener_url_get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "projection",
            "description": "Pet object that needs to be added to the store",
            "required": true,
            "type": "string",
            "default":"FULL",
            "enum": [
              "ANALYTICS_CLICKS",
              "ANALYTICS_TOP_STRINGS",
              "FULL"
            ]
          },
          {
            "in": "query",
            "name": "shortUrl",
            "description": "Pet object that needs to be added to the store",
            "default":"http://goo.gl/xKbRu3",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {"description": "Url","schema":{"$ref": "#/definitions/Url"}},
          "400": { "description": "Invalid Value", "schema": {"$ref": "#/definitions/ApiErrorResponse"}},
          "401": { "description": "Login Required", "schema": {"$ref": "#/definitions/ApiErrorResponse"}},
          "403": { "description": "Not Allowed", "schema": {"$ref": "#/definitions/ApiErrorResponse"}},
          "404": { "description": "Not Found", "schema": {"$ref": "#/definitions/ApiErrorResponse"}}
        },
        "security": [
          {
            "api_auth": ["https://www.googleapis.com/auth/urlshortener"],
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": ["url"],
        "summary": "Add a new pet to the store",
        "description": "",
        "operationId": "urlshortener_url_post",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Pet object that needs to be added to the store",
            "required": true,
            "schema":{
              "$ref": "#/definitions/Url"
            }
          }
        ],
        "responses": {
          "200": {"description": "Url","schema":{"$ref": "#/definitions/Url"}},
          "400": { "description": "Invalid Value", "schema": {"$ref": "#/definitions/ApiErrorResponse"}},
          "401": { "description": "Login Required", "schema": {"$ref": "#/definitions/ApiErrorResponse"}},
          "403": { "description": "Not Allowed", "schema": {"$ref": "#/definitions/ApiErrorResponse"}},
          "404": { "description": "Not Found", "schema": {"$ref": "#/definitions/ApiErrorResponse"}}
        },
        "security": [
          {
            "api_auth": ["https://www.googleapis.com/auth/urlshortener"],
            "api_key": []
          }
        ]
      }
    },
    "/url/history": {
      "get": {
        "tags": ["url"],
        "summary": "Add a new pet to the store",
        "description": "",
        "operationId": "urlshortener_url_list",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "query",
            "name": "projection",
            "description": "Additional information to return.",
            "required": true,
            "type": "string",
            "default":"FULL",
            "enum": [
              "ANALYTICS_CLICKS",
              "FULL"
            ]
          },
          {
            "in": "query",
            "name": "start-token",
            "description": "Token for requesting successive pages of results.",
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "Normal Result", "schema": {"$ref": "#/definitions/Url"}},
          "400": { "description": "Invalid Value", "schema": {"$ref": "#/definitions/ApiErrorResponse"}},
          "401": { "description": "Login Required", "schema": {"$ref": "#/definitions/ApiErrorResponse"}},
          "403": { "description": "Not Allowed", "schema": {"$ref": "#/definitions/ApiErrorResponse"}},
          "404": { "description": "Not Found", "schema": {"$ref": "#/definitions/ApiErrorResponse"}}
        },
        "security": [
          {
            "api_auth": ["https://www.googleapis.com/auth/urlshortener"]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "api_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
      "flow": "implicit",
      "scopes": {
        "https://www.googleapis.com/auth/urlshortener": "urlshortener scope"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "key",
      "in": "query"
    }
  },
  "definitions": {
    "AnalyticsSnapshot": {
      "type": "object",
      "properties": {
        "browsers": {
          "type": "array",
          "description": "Top browsers, e.g. \"Chrome\"; sorted by (descending) click counts. Only present if this data is available.",
          "items": {
            "$ref": "#/definitions/StringCount"
          }
        },
        "countries": {
          "type": "array",
          "description": "Top countries (expressed as country codes), e.g. \"US\" or \"DE\"; sorted by (descending) click counts. Only present if this data is available.",
          "items": {
            "$ref": "#/definitions/StringCount"
          }
        },
        "longUrlClicks": {
          "type": "string",
          "description": "Number of clicks on all goo.gl short URLs pointing to this long URL."
        },
        "platforms": {
          "type": "array",
          "description": "Top platforms or OSes, e.g. \"Windows\"; sorted by (descending) click counts. Only present if this data is available.",
          "items": {
            "$ref": "#/definitions/StringCount"
          }
        },
        "referrers": {
          "type": "array",
          "description": "Top referring hosts, e.g. \"www.google.com\"; sorted by (descending) click counts. Only present if this data is available.",
          "items": {
            "$ref": "#/definitions/StringCount"
          }
        },
        "shortUrlClicks": {
          "type": "string",
          "description": "Number of clicks on this short URL."
        }
      }
    },
    "AnalyticsSummary": {
      "type": "object",
      "properties": {
        "allTime": {
          "$ref": "#/definitions/AnalyticsSnapshot",
          "description": "Click analytics over all time."
        },
        "day": {
          "$ref": "#/definitions/AnalyticsSnapshot",
          "description": "Click analytics over the last day."
        },
        "month": {
          "$ref": "#/definitions/AnalyticsSnapshot",
          "description": "Click analytics over the last month."
        },
        "twoHours": {
          "$ref": "#/definitions/AnalyticsSnapshot",
          "description": "Click analytics over the last two hours."
        },
        "week": {
          "$ref": "#/definitions/AnalyticsSnapshot",
          "description": "Click analytics over the last week."
        }
      }
    },
    "StringCount": {
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "description": "Number of clicks for this top entry, e.g. for this particular country or browser."
        },
        "id": {
          "type": "string",
          "description": "Label assigned to this top entry, e.g. \"US\" or \"Chrome\"."
        }
      }
    },
    "Url": {
      "type": "object",
      "required":["longUrl"],
      "example": {
        "longUrl":"http://goo.gl/xKbRu3"
      },
      "properties": {
        "analytics": {
          "$ref": "#/definitions/AnalyticsSummary"
        },
        "created": {
          "type": "string",
          "description": "Time the short URL was created; ISO 8601 representation using the yyyy-MM-dd'T'HH:mm:ss.SSSZZ format, e.g. \"2010-10-14T19:01:24.944+00:00\"."
        },
        "id": {
          "type": "string",
          "description": "Short URL, e.g. \"http://goo.gl/l6MS\"."
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"urlshortener#url\".",
          "default": "urlshortener#url"
        },
        "longUrl": {
          "type": "string",
          "description": "Long URL, e.g. \"http://www.google.com/\". Might not be present if the status is \"REMOVED\".",
          "example": "http://goo.gl/xKbRu3"
        },
        "status": {
          "type": "string",
          "description": "Status of the target URL. Possible values: \"OK\", \"MALWARE\", \"PHISHING\", or \"REMOVED\". A URL might be marked \"REMOVED\" if it was flagged as spam, for example."
        }
      }
    },
    "UrlHistory": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of URL resources.",
          "items": {
            "$ref": "#/definitions/Url"
          }
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "Number of items returned with each full \"page\" of results. Note that the last page could have fewer items than the \"itemsPerPage\" value.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "The fixed string \"urlshortener#urlHistory\".",
          "default": "urlshortener#urlHistory"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to provide to get the next page of results."
        },
        "totalItems": {
          "type": "integer",
          "description": "Total number of short URLs associated with this user (may be approximate).",
          "format": "int32"
        }
      }
    },
    "ApiError":{
      "type": "object",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Error domain"
        },
        "reason": {
          "type": "string",
          "description": "Error reason"
        },
        "message": {
          "type": "string",
          "description": "Error message"
        }
      }
    },
    "ApiErrors":{
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "Error code",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "The fixed string \"urlshortener#urlHistory\".",
          "default": "urlshortener#urlHistory"
        },
        "errors": {
          "type": "array",
          "description": "A list of api errors",
          "items": {
            "$ref": "#/definitions/ApiError"
          }
        }
      }      
    },
    "ApiErrorResponse":{
      "type": "object",
      "properties": {
        "error": {"$ref": "#/definitions/ApiErrors"}
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}